
[Unit]
Description=JetBot stats display service

[Service]
Type=simple
User=jetbot
ExecStart=/bin/sh -c "python3 -m jetbot.apps.stats"
WorkingDirectory=/home/jetbot
Restart=always

[Install]
WantedBy=multi-user.target
